*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, serif;
    color: black;
}
a{
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
h1{
    margin-bottom: 20px;
}



form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
}
.form__button_block{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button{
    background-color: #e9e9e9;
    outline: none;
    border: none;
    color: inherit;
    font-weight: bold;
    height: 35px;
    width:max-content ;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button:hover{
    background-color: #4264fd;
    color: white;
}

.main{
    padding: 0 200px;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px #b1b1b1 solid;
}
.header__block{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.header__main_buttons{
    font-size: 15px !important;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header__link:hover{
    color: #4264fd;
    border-bottom: 1px #4264fd solid;
}

.header__account{
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.search_icon{
    width: 20px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20px;
}


.button{
    background-color: #e9e9e9;
    outline: none;
    border: none;
    color: inherit;
    font-weight: bold;
    height: 35px;
    width: max-content ;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.button:hover{
    background-color: #4264fd;
    color: white;
}
.search{
    width: 160px;
    height: 35px;
    padding: 5px;
    background-color: #394e71;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}
.search:focus{
    background-color: #536ba3;
}
.search:focus::placeholder{
    color: white;
}

/* Карточка книг */


.book__card{
    width: 200px;
    height: 500px;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}
.book__img{
    width: 200px;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.book__card_descriptions{
    padding: 0 2px;
    height: 70px;
}
.book_name{
    font-weight: bold;
}

/* Карточка книг - Конец */

.main__block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.books__list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    /*justify-content: center;*/
    gap: 10px;
}
/*Таблицы*/

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}
tbody td {
    border: 1px solid #ddd;
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


tbody tr:hover {
    background-color: #f1f1f1;
}
.button__table{
    background-color: #e9e9e9;
    outline: none;
    border: none;
    color: inherit;
    font-weight: bold;
    height: 35px;
    width:max-content ;
    padding: 5px;
    margin: 5px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.button__table:hover{
    background-color: #4264fd;
    color: white;
}

/*----------*/
input{
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

/*Админ*/
.admin__main{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    width: max-content;
    background-color: #ffffff;
}
.main{
}

.form-control {
    display: block;
    /*width: 100%;*/
    margin-top: 5px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

label{
    font-weight: bold;
}

/*!* Скрываем оригинальный input[type="file"] *!*/
/*.file-input {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    max-width: 250px;*/
/*    height: 40px;*/
/*    overflow: hidden;*/
/*}*/

/*.file-input input[type="file"] {*/
/*    position: absolute;*/
/*    font-size: 100px;*/
/*    opacity: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*!* Стилизация кнопки *!*/
/*.file-input label {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 10px;*/
/*    background-color: #7c7c7c;*/
/*    color: white;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*}*/
.info{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 80%;
}
.book_detail_class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book_text{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.books_buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.warning_block{
    padding: 10px;
    background-color: rgb(166, 85, 85);
}
.book_price{
    padding: 5px;
    background-color: #e6e6e6;
    width: max-content;
    margin-top: 5px;
}