{% extends 'library/includes/base.html' %}
{% block title %}Профиль{% endblock title %}

{% block main %}
<h2>Профиль пользователя</h2>
    <p>Денег на счету: {{ user.money }} сум</p>


<form class="form" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>

    <div class="form-group file-input">
        {{ form.user_image.label_tag }}
        {{ form.user_image }}
    </div>
    <button type="submit">Сохранить</button>
</form>
{% endblock main %}
